<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div class="w-full">
    <%= form.label :body, style: "display: block" %>
    <div style="width: 650px; resize: both; overflow: auto; padding: 10px;">
      <%#= form.marksmith :body, disabled: false, style: "border: 1px solid red;", placeholder: "Enter your markdown body here" %>
      <%= form.marksmith :body %>
    </div>

  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
