<%#= abort name.inspect %>
<%= content_tag :div,
  class: "flex flex-col w-full border rounded",
  data: {
    controller: "marksmith",
    marksmith_target: "toolbar",
    marksmith_preview_url_value: marksmith.markdown_previews_path,
    marksmith_active_tab_class: "bg-white",
    marksmith_attach_url_value: rails_direct_uploads_url,
    marksmith_resource_class_value: @resource.class.name,
    marksmith_field_id_value: name,
  } do %>
  <% button_classes = "cursor-pointer py-1 px-1.5 hover:bg-zinc-200 rounded" %>
  <div class="w-full flex-1 grow flex justify-bewteen bg-zinc-50 rounded px-2 py-1">
    <div class="flex-1 flex items-center">
      <button class="<%= button_classes %>" data-action="click->marksmith#switchToPreview" data-marksmith-target="previewTabButton">
        <%= t('marksmith.preview').humanize %>
      </button>
      <button class="<%= button_classes %> hidden bg-zinc-200" data-action="click->marksmith#switchToWrite" data-marksmith-target="writeTabButton">
        <%= t('marksmith.write').humanize %>
      </button>
    </div>

    <markdown-toolbar for="<%= name %>" class="flex space-x-1">
      <md-bold
        title="<%= t('marksmith.bold').humanize %>"
        class="<%= button_classes %>"
      >
        <%= svg "bold", class: "inline size-4" %>
      </md-bold>
      <md-header
        title="<%= t('marksmith.heading').humanize %>"
        class="<%= button_classes %>"
      >
        <%= svg "heading", class: "inline size-4" %>
      </md-header>
      <md-italic
        title="<%= t('marksmith.italic').humanize %>"
        class="<%= button_classes %>"
      >
        <%= svg "italic", class: "inline size-4" %>
      </md-italic>
      <md-quote
        title="<%= t('marksmith.quote').humanize %>"
        class="<%= button_classes %>"
      >
        <%= svg "quote", class: "inline size-4" %>
      </md-quote>
      <md-code
        title="<%= t('marksmith.code').humanize %>"
        class="<%= button_classes %>"
      >
        <%= svg "code", class: "inline size-4" %>
      </md-code>
      <md-link
        title="<%= t('marksmith.link').humanize %>"
        class="<%= button_classes %>"
      >
        <%= svg "link", class: "inline size-4" %>
      </md-link>
      <md-image
        title="<%= t('marksmith.image').humanize %>"
        class="<%= button_classes %>"
      >
        <%= svg "photo", class: "inline size-4" %>
      </md-image>
      <md-unordered-list
        title="<%= t('marksmith.unordered_list').humanize %>"
        class="<%= button_classes %>"
      >
        <%= svg "list-bullet", class: "inline size-4" %>
      </md-unordered-list>
      <md-ordered-list
        title="<%= t('marksmith.ordered_list').humanize %>"
        class="<%= button_classes %>"
      >
        <%= svg "numbered-list", class: "inline size-4" %>
      </md-ordered-list>
      <md-task-list
        title="<%= t('marksmith.task_list').humanize %>"
        class="<%= button_classes %>"
      >
        <%= svg "list-todo", class: "inline size-4" %>
      </md-task-list>
    </markdown-toolbar>
  </div>

  <div class="border-t">
    <%= form.text_area name,
      id: name,
      # value: @field.value,
      class: ("flex flex-1 rounded border-none w-full py-2 px-3"),
      rows: 20,
      data: {
        marksmith_target: "fieldElement",
        action: "drop->marksmith#dropUpload paste->marksmith#pasteUpload"
      }
      # disabled: disabled?,
      # placeholder: @field.placeholder,
      # autofocus: @autofocus,
      # style: @field.get_html(:style, view: view, element: :input)
    %>
    <%= content_tag :div, class: "hidden markdown-preview", id: "markdown-preview-#{name}", data: { marksmith_target: "previewElement" } do %>
      <div class="button-spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
      </div>
    <% end %>
  </div>
</div>
<% end %>
